/*
    Для того чтобы чтобы управлять потоком нашего документа с помощью CSS нам в первую
    очередь нужно выстроить правильный базовый поток документа в нашем HTML.
*/

/*
    inline и inline-block

    Задача:
    Необходимо выставить элементы .item друг возле друга по 2 в ряд.
*/


/*
    Решение:

    Для начала выставим ширину элемента 50% и добавим inline-block чтобы
    они могли выстраиваться друг возле друга.
*/

.item {
    width: 50%;
    display: inline-block;
}

/*
    Проблема:
    Ширина наших элементов изменилась, но сами элементы не выстроились друг возле друга.

    Это происходит из-за того что браузер интерпретирует элементы .item как
    строчно-блочные, а значит учитывает пробельные символы которые мы ставим внутри
    нашего HTML документа и также отображает их на странице.

    Для того чтобы решить это проблему нам необходимо убрать эти пробельные символы
    которые находятся между нашими блоками .item . Для этого нам достаточно найти родителя
    блоков .item, а это блок .wrapper и выставить ему font-size: 0

*/

.wrapper {
    font-size: 0;
}

/*
    Пробельный символ, это символ аналогичный любой букве, а это значит, что если мы
    выставим размер шрифта в 0 то он исчезнет и не будет занимать места, как и все
    остальные символы внутри этого блока.

    Сейчас мы видим что элементы на странице выстроились друг возле друга, как мы
    и задумывали, но текст не отображается, это происходит из-за того что мы поставили
    размер шрифта для всего текста в блоке 0px. Для того чтобы вернуть текст внутри блоков
    .item на свое место, нам необходимо задать размер шрифта отдельно для них.
*/

.item {
    font-size: 16px;
}

/*
    Теперь все работает правильно и мы добились желаемого результата, самый главный
    недостаток такого способа - это то что нам постоянно нужно контролировать размер
    шрифта и это не всегда удобно. Именно из-за этих недостатков это способ практически
    не используется в современной верстке, а на замену ему пришли другие, более современные
    способы.
*/